# ignore all but whitelisted files
*
!*/
!.gitignore

# general
!*.md
!*.sh

# source codes
!*.c
!*.cpp
!*.cc
!*.h
!*.pas
!*.pp
!*.java
!*.py
!*.ipynb
!*.js

# mathematica notebook (for project euler)
!*.nb

# input/output files
!*.in
!*.out
!*.txt

# problems / materials
!*.pdf
!*.doc
!*.docx
!*.html
!*.htm
!*.png
!*.jpg
!*.gif

# other
!cpcc
!vscodesnippets.json
